<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld" class="org.zlasu.beans.HelloWorld">
        <constructor-arg name="message" value="Witaj świecie"/>
    </bean>


    <bean id="serviceEmail" class="org.zlasu.app.EmailService" />
    <bean id="serviceSms" class="org.zlasu.app.SmsService" />

    <bean id="messageSender" class="org.zlasu.app.MessageSender">
        <constructor-arg ref="serviceEmail"/>
    </bean>

<!--    TASK 5-->
    <bean id="messageSender5" class="org.zlasu.app.MessageSender">
        <constructor-arg ref="serviceEmail"/>
        <property name="message" value="Message from xml"/>
    </bean>

</beans>